@charset "UTF-";

*{
    margin: 0px;
    padding: 0px;
}

.root{
    
}

body{
    height: 95vh;
    background: rgb(98, 203, 238) url('imagens/conta.jpg') center center no-repeat fixed;
    background-size: cover;
}
.container#q1{
   background-color: white;
   position: absolute;
   width: 700px;
   height: 250px;
   border: 1px solid black;
   border-radius: 10px;
   transform: translate(-50%, -50%);
   left: 50%;
   top: 50%;
}

.container{
    display: inline-block;
}

#q3 h3{
    margin: auto;
}




